body {
    background-color: #000;
    color: #fff;
}

.container {
    margin-top: 50px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #fff;
    text-align: center;
}

#resultado {
    margin-top: 20px;
}

#resultado h2 {
    color: #17a2b8;
}

#resultado p {
    font-size: 18px;
    color: #fff;
}
